---
import type { AllowedLanguage } from "@/config/language";
import { getCSSVars, type LightningMode } from "@/config/theme";
import NavBar from "@components/NavBar.astro";
import ToggleLanguage from "@components/ToggleLanguage.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import "primeicons/primeicons.css";

interface Props {
  lang: AllowedLanguage;
  mode: LightningMode;
}
const { lang, mode } = Astro.props;

const socials: { icon: string; href: string }[] = [
  {
    icon: "pi pi-github",
    href: "https://github.com/AlejandroJorge",
  },
  {
    icon: "pi pi-linkedin",
    href: "https://www.linkedin.com/in/jorgealejandroc/",
  },
];
---

<header>
  <a href={getRelativeLocaleUrl(lang, "/")}>
    <h2>Alejandro.<span>Dev</span></h2>
  </a>

  <NavBar lang={lang} mode={mode} />

  <ToggleLanguage lang={lang} mode={mode} />

  <ul>
    {
      socials.map((social) => (
        <li>
          <a href={social.href} target="_blank">
            <i class={social.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</header>

<style define:vars={getCSSVars(mode)}>
  a {
    text-decoration: none;
    color: var(--textColor);
  }

  span {
    color: var(--primaryColor);
  }

  header {
    display: grid;
    grid-template-columns: 2fr 5fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    min-height: 5rem;
    border-bottom: 0.25rem solid var(--primaryColor);
  }

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: right;
  }

  li {
    display: flex;
    align-items: center;
  }

  i {
    color: var(--textColor);
    font-size: 1.5rem;
    margin-top: 0.1rem;
  }
</style>
